:root {
  --orange: #d87d4a;
  --black: #101010;
  --gray: #f1f1f1;
  --gray-light: #fafafa;

  --orange-hover: #fbaf85;
  --white: #ffffff;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"),
    url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2"),
    url("../fonts/Manrope-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraLight.woff2") format("woff2"),
    url("../fonts/Manrope-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Light.woff2") format("woff2"),
    url("../fonts/Manrope-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"),
    url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"),
    url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"),
    url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Manrope", "Arial", sans-serif;
  margin: 0;
}

main {
  flex-grow: 1;
}

.site-header {
  display: flex;
  justify-content: space-around;
  background-color: var(--black);
  padding: 35px 0;
}

.site-header__logo {
  width: 143px;
  height: 25px;
}

.site-header__menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 36px;
  margin: 0;
  color: #050404;
}

.site-header__link {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}

.site-header__link:hover {
  text-decoration: underline;
}

.site-header__cart {
  width: 24px;
  height: 20px;
  transition: transform 0.3s ease;
}

.site-header__cart:hover {
  opacity: 0.6;
  transform: scale(1.2);
}

.aksesuvar {
  padding: 40px 0;
  margin: 0 auto;
  max-width: 120px;
}

.aksesuvar-title {
  margin: 0 auto;
  max-width: 1200px;
  display: inline-block;
  margin-bottom: 20px;
  color: rgb(46, 44, 44);
  text-decoration: none;
  font-weight: bold;
}

.aksesuvar-description {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
}

.aksesuvar-photo_items {
  width: 540px;
  height: 560px;
  object-fit: cover;
  border-radius: 10px;
}

.aksesuvar-description {
  flex: 1;
  align-items: center;
}

.aksesuvar-description h2 {
  margin-bottom: 20px;
  width: 445px;
  height: 88px;
  left: 50%;
  gap: 0px;
  opacity: 0px;
  font-family: Manrope;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.4285714626312256px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.aksesuvar-description p.narxi {
  color: var(--black);
  width: 68px;
  height: 28px;
  top: 252px;
  font-size: 18px;
  font-weight: 690;
  line-height: 28px;
  letter-spacing: 0.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.card-items {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.card-items input {
  width: 50px;
  padding: 5px;
  border: 1px solid #080707;
  border-radius: 5px;
  text-align: center;
}

.button-project {
  padding: 10px 20px;
  background-color: var(--orange);
  color: var(--white);
  border: none;
  cursor: pointer;
}

.xususiyatlar-items {
  display: flex;
  gap: 50px;
  margin: 0% auto;
  max-width: 1200px;
}

.xususiyatlar {
  flex: 2;
}

.xususiyatlar h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.xususiyatlar p {
  margin-bottom: 20px;
  line-height: 1.6;
  color: rgb(84, 82, 82);
}

.quti-items {
  flex: 1;
}

.quti-items h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.quti-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quti-items li {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.quti-items .quantity {
  font-weight: bold;
  color: var(--orange);
  margin-right: 10px;
}

/* past qismi */

.site-footer {
  background-color: var(--black);
  border-top: 2px solid var(--black);
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.site-footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.site-footer__left {
  max-width: 600px;
  line-height: 1.8;
}

.site-footer__logo-img {
  width: 143px;
  height: 25px;
  margin-bottom: 20px;
}

.site-footer__left p {
  margin: 10px 0;
  color: var(--gray);
}

.site-footer__copyright {
  margin-top: 20px;
  font-size: 0.9rem;
}

.site-footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 110px;
}

.site-footer__nav {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.site-footer__nav a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.site-footer__nav a:hover {
  text-decoration: underline;
}

.site-footer__social {
  display: flex;
  gap: 15px;
}

.site-footer__social a img {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}

.site-footer__social a:hover img {
  opacity: 0.75;
}
